@import "tailwindcss";

/* Import font Pacifico dari Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

.embla__container {
  display: flex;
}

.embla__slide {
  min-width: 100%;
}

/* Hilangkan overlay error/warning Next.js */
#__next-build-watcher,
.nextjs-toast-container,
#__next_error__ {
  display: none !important;
}
